<ion-header>
    <ion-navbar>
      <ion-title>
        选购中心
      </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <!--<ion-card>
    <ion-slides>
        <ion-slide *ngFor="let slider of onSales">
          <img src="{{slider.Image}}" alt="{{slider.Title}}">
        </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card text-center *ngFor="let chooseBuy of chooseBuys">
    <ion-grid>
          <ion-row>
            <ion-col width-33 *ngFor="let advert of chooseBuy.LeftAdvertInfos">
              <img src="{{advert.Image}}" alt="{{advert.Title}}"/>
            </ion-col>
            <ion-col width-66>
              <ion-row wrap>
                <ion-col width-50 *ngFor="let advert of chooseBuy.RightAdvertInfos">
                  <img src="{{advert.Image}}" alt="{{advert.Title}}"/>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
    </ion-grid>
  </ion-card>-->
</ion-content>
